.gridWrapper{
  display: grid;
  grid-template-columns: 10px repeat(10, 1fr) 20px;
  position: fixed;
  height: 100%;
}

.filterBox{
  grid-column-start: 2;
  grid-column-end: 4;
  border-right: 1px solid #f0f1f2;
  box-sizing: border-box;
}

.cardPageBox{
  grid-column-start: 4;
  grid-column-end: 13;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* max-height: calc(100vh - 9rem);
  overflow-y: auto; */
}