/* @media print {
    @page {
      margin: 0.7cm 0.85cm;
    }
    @page :first {
      margin-top: 5cm;
    }
    @page :left {
      margin-right: 2.5cm;
    }
    @page :right {
      margin-left: 2.5cm;
    }
  } */

  .gridWrapper{
    display: grid;
    grid-template-columns: 10px repeat(10, 1fr) 20px;
  }

  .filterBox{
    grid-column-start: 2;
    grid-column-end: 4;
    border-right: 1px solid #f0f1f2;
    box-sizing: border-box;
  }

  .StickySideBar{
    position: sticky;
    top: 0;
  }

  .cardPageBox{
    grid-column-start: 4;
    grid-column-end: 12;
    padding: 1rem 1rem;
  }