

.pageContainer{
    display: inline-block;
}

.default, .activePage, .nomore{
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
<<<<<<< HEAD
    margin-bottom: 13px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    /* border: 1px solid #bcbcbc; */
    border: 1px solid #bdb3b3;
=======
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
>>>>>>> main
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    }

    .activePage{
        border-left: none;
        background-color: rgb(3, 29, 75);
    }
    .default:hover{
        background-color: rgb(3, 29, 75);
        opacity:0.4;
        filter:alpha(opacity=40);
    }

    .nomore{
        border-left: none;
        cursor:not-allowed;
    }