


.wrapper{
  display:grid;
  grid-template-columns: repeat(3, 1fr)
}

.pageBox{
    text-align:center;
<<<<<<< HEAD
    grid-column-start: 2;
    grid-column-end: 3;
=======
    grid-column-start: 1;
    grid-column-end: 6;
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
    grid-row-start: 5;
}

.cardBox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
    border-style: solid;
<<<<<<< HEAD
    border-radius: 6px;
    border-color: gray;
    border-width: 1px;
    background-color:white;
    margin: 3px;
=======
    border: 1px solid #bdb3b3;
    /* border-radius: 6px;
    border-color: gray;
    border-width: 1px; */
    background-color:white;
    margin: 3px;
    margin-bottom: 20px;
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
    float: left;
}

.second{
  margin: 5px;
}

.brand {
<<<<<<< HEAD
  color: dodgerblue;
  text-align: left;
  font:small-caption;
  font-style: italic;
  font-size: x-small;
=======
  color: #516391;
  text-align: left;
  font:small-caption;
  /* font-style: italic; */
  font-size: large;
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
}

.price{
  padding: 5px;
  text-align: center;
  font-style: normal;
<<<<<<< HEAD
=======
  font-size: large;
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
}

.owners{
  border-color: black;
  border-top-style: solid;
  border-top-width: 1.5px;
  text-align: left;
<<<<<<< HEAD
=======
  font-size: normal;
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
}

.card img{
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  transition: 0.2s;
  width: 100%;
  height: auto;
}

.card img:hover{
  opacity:0.4;
  filter:alpha(opacity=40);
}


<<<<<<< HEAD
.card a:link {color:#000000;}     
.card a:visited {color:rgb(240, 6, 6);} 
.card a:hover {color:rgb(16, 16, 207);}  
.card a:active {color:rgb(223, 17, 17);}  
=======
.card a:link {color:#8f8a8a;}     
.card a:visited {color:#516391;} 
.card a:hover {color:rgb(241, 149, 11);}  
.card a:active {color:#516391;}  
>>>>>>> affa919cc171938aabe7a048fb7289479e1e1f94
