


.wrapper{
  display:grid;
  grid-template-columns: repeat(3, 1fr)
}

.pageBox{
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
}

.cardBox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
    border-style: solid;
    border: 1px solid #bdb3b3;
    /* border-radius: 6px;
    border-color: gray;
    border-width: 1px; */
    background-color:white;
    margin: 3px;
    margin-bottom: 20px;
    float: left;
}

.second{
  margin: 5px;
}

.brand {
  color: #516391;
  text-align: left;
  font:small-caption;
  /* font-style: italic; */
  font-size: large;
}

.price{
  padding: 5px;
  text-align: center;
  font-style: normal;
  font-size: large;
}

.owners{
  border-color: black;
  border-top-style: solid;
  border-top-width: 1.5px;
  text-align: left;
  font-size: normal;
}

.card img{
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  transition: 0.2s;
  width: 100%;
  height: auto;
}

.card img:hover{
  opacity:0.4;
  filter:alpha(opacity=40);
}


.card a:link {color:#8f8a8a;}     
.card a:visited {color:#516391;} 
.card a:hover {color:rgb(241, 149, 11);}  
.card a:active {color:#516391;}  